name: Bundle size

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read
  pull-requests: write

jobs:
  analyze-base:
    name: Analyze (base)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout target branch
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.base.ref }}

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.x

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Package
        run: npm pack

      - name: Run analyzer (base)
        uses: ./analyze
        with:
          config-file: ./example-config.json
          artifact-name: base-bundle
          use-local: true

  analyze-current:
    name: Analyze (current)
    runs-on: ubuntu-latest
    needs: analyze-base
    steps:
      - name: Checkout head ref
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.x

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Package
        run: npm pack

      - name: Run analyzer (current)
        uses: ./analyze
        with:
          config-file: ./example-config.json
          artifact-name: current-bundle
          use-local: true

  compare:
    name: Compare
    runs-on: ubuntu-latest
    needs: [analyze-base, analyze-current]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.x

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Compare results
        id: compare
        uses: ./compare
        with:
          base-artifact: base-bundle
          current-artifact: current-bundle
          use-local: true

      - name: Comment on PR
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: pull-request-bundle-analyzer
          message: |
            ${{ steps.compare.outputs.markdown }}

            <details><summary>Raw JSON</summary>

            ```json
            ${{ steps.compare.outputs.json }}
            ```

            </details>
